<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Стартовая страница</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div class="container">
    <br>
    <h1>Информация о продукте</h1>

    <span th:text="${'ID: '} + ${product.id}" /><br>
    <span th:text="${'Название: '} + ${product.title}" /><br>
    <span th:text="${'Цена: '} + ${product.cost}" /><br>

    <a th:href="@{'/'}"/>Back to Main Page</a>
<!--    <span th:text="${'First disk title: ' + disks.get(0).title}" />-->
</div>

</body>
</html>