<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>

        <title>Стартовая страница</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    </head>

    <body>

        <div th:replace="~{navigation :: navbar(AddProduct)}" />

        <div class="container">
            <h1>Добавление продукта</h1>
            <div class="form-group">
                <div class="col-xs-15">
                    <div th:if="${productCreationError != null}">
                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                            <span th:text="${productCreationError}" />
                        </div>
                    </div>
                </div>
            </div>
            <form th:action="@{/add}" th:object="${product}" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <input type="hidden" th:field="*{id}">
                            <input type="text" th:field="*{title}" class="form-control" placeholder="Наименование">
                            <br>
                            <small class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
<!--                            th:placeholder="${product.title == 'null'} ? 'Наименование товара' : product.title"-->
<!--                            <small class="form-text text-muted">Введите наименование</small>-->
                        </div>
                        <div class="col">
                            <input type="text" th:field="*{cost}" class="form-control" placeholder="Цена">
                            <br>
                            <small class="alert alert-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" />
                            <!--                            <small class="form-text text-muted">Введите цену</small>-->
                        </div>
                        <div class="col">
                             <button type="submit" class="btn btn-primary" th:text="${product.id == null} ? 'Добавить' : 'Изменить'"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>