<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Продукты</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

    <body>
        <div th:replace="~{navigation :: navbar(Products)}" />
            <div class="container">
                <br>
                <h1>Все продукты</h1>

                <form th:action="@{/products/all}" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="text" th:name="min" class="form-control" placeholder="Минимальное значение">
                            </div>
                            <div class="col">
                                <input type="text" th:name="max" class="form-control" placeholder="Максимальное значение">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Показать</button>
                            </div>
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Info</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "product, i : ${products}">
                        <th scope="row" th:text="${i.count}" />
                        <td th:text="${product.id}" />
                        <td th:text="${product.title}" />
                        <td th:text="${product.cost}" />
                        <td><a th:href="@{'/about/' + ${product.id}}" th:text="info"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>