<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8"/>
        <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

        <title>Стартовая страница</title>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/material-icons/css/material-icons.min.css}" />

        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    </head>

    <body>

<!--        <div th:replace="~{navigation :: navbar(Home)}" />-->
<!--        <div class="container">-->
<!--            <h1 th:text="#{greeting}" />-->

<!--            <p th:each = "i : ${#numbers.sequence(1, 4)}">-->
<!--                <span th:text = "'Paragraph #: ' + ${i}" class="text-muted"></span>-->
<!--                <strong>-->
<!--                    <span th:text = "' Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate dignissimos earum nobis possimus quae quis repudiandae! Consequatur deleniti ducimus enim excepturi exercitationem, fugiat fugit ipsa optio rem voluptatem voluptatum.'">-->

<!--                    </span>-->
<!--                </strong>-->
<!--            </p>-->

<!--        </div>-->
    </body>
</html>